# Основной фреймворк
django>=5.2,<6.0

# Драйвер для работы с базой данных PostgreSQL
psycopg2-binary>=2.9.9

# Работа с переменными окружения (для Docker и настроек БД)
python-dotenv>=1.0.1

# Утилита для работы с изображениями (если будете добавлять фото студентов)
Pillow>=10.3.0

# Расширение для удобных форм (согласно вашим интерфейсам из PDF)
django-crispy-forms>=2.1
crispy-bootstrap5>=2024.2

# Сервер для промышленного запуска (внутри Docker)
gunicorn>=22.0.0
